@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="../css/estilos.css">
    <title>Baking World</title>
</head>
<body>
    @* <header>
        
        <a href="" class="logo">
            <h1>
                Baking<b> World</b>
            </h1>
         </a>
       <nav> <h4>
         <a href="" class="nav-link">Inicio</a>
         <a href="" class="nav-link">Menu</a>
         <a href="" class="nav-link">Contacto</a> 
         </h4>
       </nav>
    </header> *@
    

  <form   class="form">
       <h2  class="form__title">Iniciar Sesión</h2>
      <p class="form__paraghaph"><h5> ¿No tienes cuenta?</h5> <a href="#" class="form__link">Entrar aqui</a></p>


    <div class="form__container">
        <div class="form__group">
            <input type="text" id="name" class="form__input" placeholder=" ">
            <label for="name" class="form__label">Nombre:</label>
            <span class="form__line"></span>
        </div>
        <div class="form__group">
            <input type="text" id="user" class="form__input" placeholder=" ">
            <label for="user" class="form__label">Usuario:</label>
            <span class="form__line"></span>
        </div>
        <div class="form__group">
            <input type="text" id="passwod" class="form__input" placeholder=" ">
            <label for="passwod" class="form__label">Contraseña:</label>
            <span class="form__line"></span>
        </div>
        <input type="submit" class="form_submit" value="seguir">
    </div>


   </form>

   
</body>
